.container {
  padding: 20px 10px;
  border: 1px solid var(--divider);
  border-radius: 20px;
  max-inline-size: 360px;
  min-inline-size: 320px;
  background: var(--surface-bg-main);
  font-size: 0.875rem;
  color: var(--text-color-sub);

  .userWrapper {
    display: flex;
    gap: 10px;
    margin-bottom: 12px;
  }

  .userAvatar {
    max-inline-size: 42px;
    max-block-size: 42px;
  }

  .userName {
    display: block;
    font-size: 1rem;
  }

  .date {
    padding-inline-end: 6px;
  }

  .imageWrapper {
    position: relative;
    aspect-ratio: 2.3 / 1;
    border-radius: 10px;
    overflow: hidden;

    .image {
      object-fit: cover;
      object-position: center;
      display: block;
      translate: 0 -25%;
    }
  }

  .buttonWrapper {
    display: flex;
    flex-flow: row nowrap;
    gap: 30px;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: 700;

    button {
      border: none;
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .like {
      color: var(--brand-main);
    }
    .reportButton {
      color: var(--report);
    }
  }
}

@media (min-width: 1201px) {
  .container {
    .userName {
      font-size: 1.125rem;
    }
  }
}
