.category {
  padding: 8px 12px;
  border-radius: 50px;
  font-weight: 700;
  font-size: 12px;
}

.studyCategory {
  background-color: var(--brand-sub1);
}
.habitCategory {
  background-color: var(--brand-sub2);
}
.hobbyCategory {
  background-color: var(--brand-sub3);
}
.healthCategory {
  background-color: var(--brand-sub5);
}
