:root {
  --text-color: #201e1f;
  --study-tag: #a78bf8;
  --habit-tag: #bcf062;
  --hobby-tag: #ed6f6e;
  --health-tag: #93c5f9;
}

.category {
  padding: 8px 12px;
  border-radius: 50px;
  font-weight: 700;
  font-size: 12px;
}

.studyCategory {
  background-color: var(--study-tag);
}
.habitCategory {
  background-color: var(--habit-tag);
}
.hobbyCategory {
  background-color: var(--hobby-tag);
}
.healthCategory {
  background-color: var(--health-tag);
}
