.main {
  inline-size: 100%;
  min-inline-size: 360px;
  color: var(--text-color-main);
  padding-block-start: 140px;
  isolation: isolate;
  position: relative;

  .thumbnailWrapper {
    inline-size: 100%;
    min-block-size: 550px;
  }

  .loading {
    inline-size: 100vw;
    block-size: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .thumbnail {
    aspect-ratio: 1 / 1.3;
    display: block;
    position: relative;
    z-index: 0;
    translate: 0 -1px;

    > .thumbnailGradient {
      position: absolute;
      inset: 40% 0 0 0;
      background: linear-gradient(
        var(--thumbnail-gradient-0) 10%,
        var(--surface-bg-main) 90%
      );
    }

    .thumbnailImage {
      object-fit: cover;
      object-position: right top;
    }
  }
}

.contentWrapper {
  translate: 0 -130px;
  padding-inline: 20px;
  font-size: 0.875rem;

  .pageTitle {
    padding-block-start: 16px;
    color: var(--text-color-main);
    font-size: 1.625rem;
  }

  section {
    border-bottom: 1px solid var(--divider);
    padding-block: 40px;
    color: var(--text-color-sub);

    &:last-child {
      border-bottom: none;
    }

    h2 {
      padding-inline: 0;
      font-size: 1rem;
      color: var(--text-color-main);
    }
  }

  .descriptionSection {
    .description {
      font-size: 0.875rem;
      margin-block: 20px 16px;
    }
    .tagWrapper {
      display: flex;
      gap: 16px;
      font-size: 0.75rem;
    }
  }

  .infoSection {
    .info {
      margin-top: 16px;
      display: flex;
      gap: 16px;
    }

    .userAvatar {
      padding-block: 40px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;

      a {
        display: block;
        inline-size: 50px;
        block-size: 50px;
      }

      figure {
        min-block-size: 0;
        inline-size: 100%;
        height: auto;
      }

      .userName {
        color: var(--text-color-main);
        font-weight: 700;
      }
    }

    .buttonWrapper {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      gap: 20px;

      button {
        inline-size: calc(50% - 10px);
        padding: 15px;
      }

      > a:nth-of-type(2) {
        inline-size: calc(50% - 10px);
      }

      > button:first-child {
        inline-size: 100%;
        background: var(--brand-main);
        color: var(--text-color-main);
        font-weight: 600;
        border-radius: 10px;
        transition: background 0.3s ease;
      }

      > button:first-child:hover {
        background: var(--main-highLight);
      }
    }
  }
}

@media (min-width: 581px) {
  .contentWrapper {
    translate: 0 -22vh;
    padding-inline: 48px;

    .pageTitle {
      font-size: 2.125rem;
    }

    section {
      h2 {
        font-size: 18px;
      }
    }

    .descriptionSection {
      .description {
        margin-block: 16px 16px;
      }
    }

    .infoSection {
      .info {
        gap: 30px;
      }

      .buttonWrapper {
        flex-flow: row nowrap;
        gap: 15px;

        a {
          inline-size: 50%;
        }

        > a:nth-of-type(2),
        button {
          inline-size: calc(25% - 10px);
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .main {
    display: flex;
    align-items: stretch;
    position: relative;
    overflow-y: auto;

    .thumbnailWrapper {
      overflow: visible;
      position: static;
      max-inline-size: min(40vw, 400px);
    }

    .thumbnail {
      position: sticky;
      top: 0;
      bottom: 0;
      aspect-ratio: auto;
      block-size: 100%;

      .thumbnailGradient {
        display: none;
      }
    }

    .thumbnailImage {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
    }
  }
  .contentWrapper {
    flex-grow: 1;
    translate: 0;
    padding: 80px 20px 0 20px;
    position: relative;
    z-index: 1;
    translate: none;

    .pageTitle {
      font-size: 2.125rem;
    }

    section {
      h2 {
        font-size: 18px;
      }
    }

    .descriptionSection {
      .description {
        margin-block: 16px 16px;
      }
    }

    .infoSection {
      .info {
        gap: 30px;
      }

      .userAvatar {
        .userName {
          font-size: 1rem;
          font-weight: 700;
        }
      }

      .buttonWrapper {
        max-inline-size: 484px;
        gap: 15px;

        > a:first-child {
          inline-size: 50%;
        }

        > button:first-child {
          inline-size: 50%;
        }
      }
    }
  }
}

@media (min-width: 1201px) {
  .main {
    padding: 0 0 0 200px;

    .thumbnailWrapper {
      max-inline-size: min(45vw, 600px);
    }
  }
  .contentWrapper {
    max-inline-size: 1000px;

    .pageTitle {
      font-size: 2.5rem;
    }

    section {
      h2 {
        font-size: 1.375rem;
      }
    }

    .infoSection {
      .buttonWrapper {
        max-inline-size: 584px;

        a {
          inline-size: 50%;
        }
        > a:nth-of-type(2),
        button {
          inline-size: calc(30% - 10px);
        }
      }
    }
  }
}
