@import "@/styles/main.css";

:root {
  --edit-button-border: #3a3a3a;
  --edit-button-bg: #fafafa;
}

.avatarImageContainer {
  position: relative;
  display: inline-block;
}

.editButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset-block-start: 80%;
  inset-inline-end: 5%;
  inline-size: 27px;
  block-size: 27px;
  aspect-ratio: 1;
  padding: 0;
  border-radius: 50%;
  border: 1px solid var(--edit-button-border);
  background-color: var(--edit-button-bg);

  .editIcon {
    display: flex;
    inline-size: 15px;
    block-size: 15px;
  }
}

@media (min-width: 581px) {
  .editButton {
    inline-size: 30px;
    block-size: 30px;
  }

  .editIcon {
    inline-size: 17px;
    block-size: 17px;
  }
}
