.successPercent {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  block-size: 130px;

  > label {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.controls {
  > input,
  > datalist {
    block-size: 25px;
    inline-size: 400px;
  }

  > input {
    accent-color: var(--brand-main);
  }
  > datalist {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 20px;
    justify-content: space-between;
    writing-mode: vertical-lr;
  }

  option {
    writing-mode: horizontal-tb;
  }
}

@media (max-width: 580px) {
  .successPercent > label {
    font-size: 1.25rem;
  }

  .controls {
    > input {
      inline-size: 250px;
    }

    > datalist {
      width: 250px;
    }
  }
}
